n8n/workflow-respuesta-automatica.json
{
  "name": "Restaurante — Respuesta automática WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-entrante",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entrada",
      "name": "Recibir mensaje de WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst payload = $input.first().json.body.payload;\nif (!payload) return [];\n\nconst chatId = payload.from;\nconst now = Date.now();\nconst DOS_HORAS = 2 * 60 * 60 * 1000;\n\nif (!staticData.ultimaRespuesta) staticData.ultimaRespuesta = {};\n\nconst ultima = staticData.ultimaRespuesta[chatId] ?? 0;\nif (now - ultima < DOS_HORAS) {\n  // Ya respondimos hace menos de 2 horas, ignorar\n  return [];\n}\n\n// Actualizar timestamp y dejar pasar el mensaje\nstaticData.ultimaRespuesta[chatId] = now;\nreturn [$input.first()];"
      },
      "id": "cooldown",
      "name": "Cooldown 2 horas por contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [370, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-evento",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.body.payload.fromMe }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "false" }
            },
            {
              "id": "cond-grupo",
              "leftValue": "={{ $json.body.payload.from }}",
              "rightValue": "@g.us",
              "operator": { "type": "string", "operation": "notContains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filtro-mensaje",
      "name": "¿Es mensaje entrante válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body.payload;\nconst chatId = payload.from;\n\nconst URL_PEDIDOS = 'http://localhost:3000';\n\nconst mensaje = `¡Hola! 👋 Gracias por escribirnos.\\n\\nPara hacer tu pedido ingresá a nuestra página web:\\n🌐 ${URL_PEDIDOS}\\n\\nElegís lo que querés, completás tus datos y listo. Te avisamos por acá cuando tu pedido esté en camino. 🍽️`;\n\nreturn [{ json: { chatId, mensaje } }];"
      },
      "id": "armar-respuesta",
      "name": "Armar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-3285.up.railway.app/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "a552c6bf017545aa99fc7153d0aa4960"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": {{ JSON.stringify($json.mensaje) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "enviar-whatsapp",
      "name": "Responder por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respuesta-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Recibir mensaje de WAHA": {
      "main": [[{ "node": "Cooldown 2 horas por contacto", "type": "main", "index": 0 }]]
    },
    "Cooldown 2 horas por contacto": {
      "main": [[{ "node": "¿Es mensaje entrante válido?", "type": "main", "index": 0 }]]
    },
    "¿Es mensaje entrante válido?": {
      "main": [
        [{ "node": "Armar respuesta", "type": "main", "index": 0 }],
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    },
    "Armar respuesta": {
      "main": [[{ "node": "Responder por WhatsApp", "type": "main", "index": 0 }]]
    },
    "Responder por WhatsApp": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  }
}
